body {
    background-color: #fff;
}

#wrapper {
    display: flex;
    margin: 0px auto;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
}

#content {
    padding: 40px 30px;
    box-shadow: 1px 1px 30px rgb(0 0 0 / 8%);
}

.billname {
    color: #36454f;

}

td {
    color: #36454f;
}

#priRefNo, #secRefNo {
    line-height: 30px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
}

#ccNo1,
#ccNo2,
#ccNo3,
#ccNo4 {
    line-height: 30px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 3px;
    width: 8%;
    margin-bottom: 20px;
}

#initAmount, #initAmountCents {
    line-height: 30px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 20px;
}

input[type="submit" i] {
    border: none;
    background-color: #ff7538;
    border-color: #ff7538;
    color: #fff;
    height: 50px;
    line-height: 24px;
    padding: 6px 15px;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 3.2px;
    font-size: 14px;
    letter-spacing: .3px;
}
