#wrapper-footer-full {
    h1,h2,h3,h4,h5,h6,p,span {
        color: $gray-100;
        margin-bottom: 20px;
    }
    ul {
        padding: 0px;
        li {
            list-style-type: none;
            line-height: 48px;
            a {
                color: #F8FAF5;
            }
        }
    }
}

#wrapper-footer {
    background-color: $gray-800;
    padding: 28px 0px;
}

.site-info {
    color: $gray-100;
    font-size: 10px;
    line-height: 14px;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
	background-color: #252F36;
	padding: 50px 0px 50px;
}

.social-media {
    color: $gray-100;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    max-width: 200px;
}

.tns-controls button {
    @extend .btn-primary;
    @extend .btn;
}

.tns-nav button {
    appearance: none;
    border: none;
    background: rgba(0,0,0,0.35);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid grey;
    position: relative;
    margin: 0px 5px;
    padding: 0px;
    &.tns-nav-active {
        background: #ff74388c;
        border-color: #c38209;
    }
}