.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $gray-800;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 38px;
            margin: 0 8px;
            position: relative;
            &:hover {
                color: $primary;
                transition: color .1s;
                &:before {
                    width: 100%;
                }
            }
            &:before {
                content: "";
                height: 3px;
                left: 0;
                bottom: 10px;
                width: 0;
                position: absolute;
                transition: all .2s ease 0s;
                background: $primary;
            }
        }
    }
}

nav {
    .custom-logo-link {
        max-width: 290px;
    }
}

.navbar-light .navbar-nav .btn .nav-link {
    color: #fff;
    line-height: inherit;
}

#wrapper-navbar {
    transition: all .15s ease 0s;
}
@media(max-width:767px) {
    #wrapper-navbar {
        position: sticky;
        top: 0px;
        z-index: 98;
    }
    .header-contact {
        display: none;
    }
    nav .custom-logo-link {
        max-width: 250px;
    }
    #main-nav {
        height: 70px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: $gray-100;
    }
}



@media(max-width:767px) {
    // .navbar .navbar-collapse.collapsing { 
    //     height: calc(100vh - 70px);
    // }
    .navbar .navbar-collapse { 
        display: block!important;
        position: absolute;
        overflow-y: auto;
        z-index: 99;
        height: calc(100vh - 70px);
    }
    .navbar .lateral-left{
      left:-100%; 

      transition: all 0.25s ease;
    }
    .navbar .lateral-left.open { 

      transition: all 0.25s ease;
    }
    .navbar .lateral-right {
      right:-100%;

      transition: all 0.25s ease;
    }
    .navbar .lateral-right.open { 

      transition: all 0.25s ease;
      right: 0%;
    }
    .navbar .navbar-collapse { 
        top: 0;
        bottom: 0;
        position: absolute;
        width: 80%;
        width: calc(100% - 60px);
        max-width: 320px;
        background: $gray-800;
        top: 70px;
        height: calc(100vh - 70px);
        width: 0%;
        padding: 0px;
    }
    .navbar .lateral-left.open,
    .navbar .lateral-right.open{
      display:block !important;
      position: absolute;
      overflow-y: auto;
      z-index: 99;
      height: calc(100vh - 70px);
      width: 100%;
      padding: 30px 30px 130px;
      box-shadow: -10px 20px 25px rgba(0,0,0,0.2);
    }
  }

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(54,69,79, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.home, .page-id-16, .page-id-14 {
    #wrapper-navbar {
        z-index: 20;
        position: relative;
        #primary-logo {
            display: block;
        }
        nav {
            .navbar-brand.custom-logo-link {
                display: none;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
            background-color: rgba(0,0,0,0)!important;
            .nav-link {
                color: $gray-100;
                position: relative;
                transition: all .2s ease 0s;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    #page-wrapper {
        margin-top: -90px;
    }
}

.btn-primary:hover, .btn-outline-primary:hover {
    box-shadow: 0 0 0 0.2rem rgba(219, 103, 54, 0.5), #fff 0px 0px 35px -21px inset;
    color: $white!important;
}

