
/*
 * Responsive Breakpoints:
 * 576px 
 * 768px
 * 1200px
 * 13660px
*/

.mobile-only {
    display: none;
}

#map {
    width: 100%; 
    height: 44vh; 
}

#primary-logo {
    display: none;
}
@media only screen and (max-width: 768px) {
    #navbarNavDropdown {
        .navbar-nav .nav-link {
            color: $white;
        }
    }
    .home #wrapper-navbar nav .nav-link:hover, .page-id-14 #wrapper-navbar nav .nav-link:hover, .page-id-16 #wrapper-navbar nav .nav-link:hover {
        color: #fff;
    }
    .epl-single-default .oc-exclusive-label, .post-grid .oc-exclusive-label, .property-grid-item .oc-exclusive-label {
        top: 158px;
    }
    body.admin-bar {
        #wrapper-navbar {
            top: 46px;
            &.scrolling {
                top: 0px;
            }
        }
    }
    #property-gallery .single-video {
        position: relative;
        height: auto;
    }
    #property-gallery .hero-image img {
        max-height: 250px;
        object-fit: cover;
    }
    .property-header-wrapper {
        > .container {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            max-width: 100%; 
            > .row {
                > div {
                    padding-left: 0px!important;
                    padding-right: 0px!important;
                }
            }
        }
    }
    nav {
        .custom-logo-link {
            max-width: 220px;
        }
        .container {
            flex-wrap: nowrap;
        }
    }
    .epl-single-default .status-leased, 
    .epl-single-default .status-sold, 
    .epl-single-default .status-sticker, 
    .post-grid .status-leased, .post-grid .status-sold, 
    .post-grid .status-sticker, .property-grid-item .status-leased, 
    .property-grid-item .status-sold, .property-grid-item .status-sticker {
        font-size: 17px;
        padding: 20px 15px;
    }
    .property-header .suburb {
        margin-top: -2px;
    }
    #team-list .single-team-member {
        max-width: 50%;
        margin-bottom: 18px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .epl-loop-tools {
        width: 100%;
    }
    #agents-link, #contact-link {
        display: none;
    }
    .home, .page-id-14, .page-id-16, .page-id-22, .page-id-72 {
        background-color: #f8faf5;
        padding-top: 0px;
    }
    .nav-pills {
        display: flex;
        margin-bottom: 30px;
        text-align: center;
        line-height: 16px;
        overflow-y: scroll;
    }

    .nav-pills::-webkit-scrollbar {
        display: none;
    }

    // space nav out on mobile
    @media only screen and (max-width: 768px) {
        .nav-pills {
            line-height: 30px;
            justify-content: flex-start;
            height: 50px;
            flex-wrap: nowrap;
        }
    }

    // make bigger for mobile
    @media only screen and (max-width: 768px) {
        .nav-pills .nav-item .nav-link {
            font-size: 18px;
            white-space: nowrap;
        }
    }

    .row>.col.pl-5, .row>[class*=col-].pl-5 {
        padding-left: 15px!important;
    }
    .author #agent-overview {
        padding-right: 15px;
        margin-bottom: 30px;
    }
    #breadcrumbs {
        padding: 0px!important;
    }
    .author #header-wrapper {
        height: auto;
        padding: 40px 15px;
        background-size: cover;
    }
    .desktop-only {
        display: none;
    }
    .modal-content {
        .author-contact-details {
            .btn {
                display: none;
            }
        }
        .single-team-member-meta .entry-header {
            min-width: inherit;
            padding: 10px 10px 10px 10px;
            max-width: calc(100% - 150px);
        }
        .polaroid-container .single-team-member-meta img, .single-team-member-meta .polaroid-container img, .single-team-member-meta .polaroid-property {
            flex-direction: row-reverse;
        }
        .single-team-member-meta .agent-image {
            width: 150px;
            height: 150px;
            
        }
    }
    .mobile-footer-buttons { 
        display: flex;
    }
    .blog:not(.paged) main#main article:first-of-type .inner-blog-container, 
    .category:not(.paged) main#main article:first-of-type .inner-blog-container, 
    .tag:not(.paged) main#main article:first-of-type .inner-blog-container {
        width: calc(100% - 20px)!important;
        display: flex;
        padding-right: 0;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-left: 0;
        .blog-image {
            padding-left: 0px;
        }
    }
    #search-bar-container {
        margin-bottom: 15px;
    }
    #searchsubmit {
        height: 49px;
    }
    #category-list .nav-pills .nav-link {
        color: #36454f;
        margin: 0 10px;
        font-size: 11px;
        font-weight: 600;
        padding-right: 0px;
        margin-right: 0px;
    }
    #team-list {
        display: flex;
        justify-content: flex-start;
        width: inherit;
        max-width: 1080px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .single-post .entry-title::after {
        position: absolute;
        width: 50%;
        content: '';
        left: 0;
        bottom: -10px;
        height: 5px;
        background-color: #ff7538;
        z-index: -1;
    }
    .single-post .entry-title {
        position: relative;
        z-index: 2;
        margin-bottom: 40px;
        font-size: 2.25rem;
    }
    h1 {
      font-size: 2.25rem;  
    }

    #breadcrumbs span span a, #breadcrumbs span span span {
        margin: 0 5px;
        line-height: 35px;
        font-size: 12px;
    }
    #rma-slider {
        .single-review-placeholder:nth-of-type(2),
        .single-review-placeholder:nth-of-type(3) {
            display: none;
        }
    }
    #rma-slider .single-review-placeholder {
        width: 100%;
        margin-right: 0px;
    }
    .home, .page-id-26 {
        .nav-pills {
            display: flex;
            // justify-content: center;
            margin-bottom: 30px;
            width: calc(100% + 30px);
            margin-left: -15px;
        }
    }
    #primary-logo {
        display: none;
    }
    
    .navbar-light .navbar-nav {
        .menu-item-3967 {
            border-bottom: 1px solid white;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .menu-item-44, .menu-item-48, .menu-item-49, .menu-item-47, .menu-item-3967 {
            .nav-link {
                font-weight: 700;
            }
        }
    }

    .navbar-light .navbar-nav .active>.nav-link, 
    .navbar-light .navbar-nav .nav-link.active, 
    .navbar-light .navbar-nav .nav-link.show, 
    .navbar-light .navbar-nav .show>.nav-link {
        color: $primary;
    }
    .menu-item-3966 {
        margin-top: 30px;
    }
    .contact-btn-mobile {
        background-color: rgba(0,0,0,0)!important;
    }
    .navbar-light .navbar-nav .nav-link {
        
        line-height: 30px;
        font-weight: 400;
    }
    .mobile-only {
        display: block;
        &.title {
            margin-left: 0px;
            a {
                margin-left: 0px;
                font-weight: 500!important;
                margin-left: -6px!important;
            }

        }
    }
    .single-property .epl-button-wrapper, .single-property .property-alerts, .single-rental .epl-button-wrapper, .single-rental .property-alerts {
        padding-top: 22px;
        border-top: 1px solid #ccc;
        margin-top: 22px;
        margin-bottom: 21px;
    }
    .single-property .epl-inspection-times, .single-property .tab-title, .single-rental .epl-inspection-times, .single-rental .tab-title {
        padding-top: 20px;
        border-top: 1px solid #ccc;
        margin-top: 10px;
    }
    .epl-property-features {
        display: flex;
        flex-wrap: wrap;
        li {
            line-height: 22px;
            margin: 10px 0;
            position: relative;
            padding-right: 15px;
            margin-right: 15px;
            &::after {
                position: absolute;
                right: 0;
                top: 0;
                content: '/';
                color: $primary;

            }
        }
    }
    body {
        padding-top: 70px;
        &.home {
            padding-top: 0px;
            #primary-logo {
                display: block;
            }
        }
    }

    .scrolling {
        #primary-logo {
            display: none!important;
        }
        .navbar-brand.custom-logo-link {
            display: block!important;
            
        }
        background-color: $white!important;
        .navbar-light .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(54,69,79, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
        }
    }

    .home #wrapper-navbar, 
    .page-id-14 #wrapper-navbar, 
    .page-id-16 #wrapper-navbar,
    #wrapper-navbar {
        box-shadow: 1px 1px 12px rgba(0,0,0,0.1);
        z-index: 999;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    #form-container {
        .nav-pills {
            width: 100%;
            justify-content: space-between;
        }
        #address_search {
            margin-right: 0px!important;
        }
        .submit-group {
            width: calc(100% - 111px);
            margin-right: 0px;
            button {
                width: 100%;
            }
        }
        .nav-pills {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 30px;
            font-weight: 500;
            margin-bottom: 0px;
            .nav-item {
                margin-bottom: 15px;
                margin-right: 5px;
            }
        }
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        padding:15px;
        padding-bottom: 0px;
    }
    #form-container #property-search-form #address_search {
        max-width: 100%;
    }
    .mt-5, .my-5 {
        margin-top: 1rem!important;
    }
    .pt-90 {
        padding-top: 30px;
    }
    .single-team-member-meta {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }
    .single-team-member-meta .entry-header {
        min-width: inherit;
        padding: 10px;
    }
    .single-team-member-meta .agent-image {
        height: 150px;
    }
    .single-property #single-property-content #property-header, .single-rental #single-property-content #property-header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .item-street {
        font-size: 1.8rem!important;
    }
    #property-gallery .thumbnails #img-3::after {
        font-size: 14px;
        line-height: 19px;
    }
    #property-gallery {
        flex-direction: column;
        border-radius: 0px;
        margin-top: 0px;
        .hero-image {
            width: 100%;
        }
        .thumbnails {
            width: 100%;
            display: flex;
            margin-top: 2px;
            // height: 77px;
            flex-direction: row;
            height: auto;
            max-height: 160px;
            .single-image {
                display: inline-block;
                height: auto;
            }
            a {
                display: inline;
            }
            .single-image:nth-of-type(3) {
                img {
                    padding-right: 0px;
                }
            }
            &:nth-of-type(3) {
                img {
                    padding-right: 0px;
                }
               
            }
            img {
                padding-bottom: 0px;
                padding-right: 2px;
                height: 100%;
                object-fit: cover;
                width: 100%;

            }
        }
    }
    .epl-pagination, .mb-5, .my-5 {
        margin-bottom: 1rem!important;
    }
    .caption-semi-bold time, .gform_description time, .tags-links a time, form label time {
        font-size: 12px!important;
    }
    .posted-on.caption-semi-bold {
        font-size: 12px;
        a {
            font-size: 12px!important;
        }
    }
    .single-post {
        height: auto!important;
        margin-bottom: 20px;
        .entry-meta {
            .byline {
                display: none;
            }
        }
        h3 {
            font-size: 1.1rem!important;
        }
    }
    #latest-news-heading {
        margin-bottom: 20px;
    }
    .sm-100 {
        width: 100%;
    }
    #rma-header, .section-header {
        margin-bottom: 20px;
        .btn {
            width: 100%;
        }
    }
    #services-masonry .masonry-item {
        padding: 30px 10px;
        background-position: 50% 39%;
        .btn {
            display: none;
        }
        h2 {
            font-weight: 400;
        }
    }
    .property-header {
        .caption, .suburb {
            margin-bottom: 5px;
        }
    }
    .epl-single-default .features .feature, 
    .post-grid .features .feature, 
    .property-grid-item .features .feature {
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 0 5px;
        line-height: 18px;
    }
    .polaroid-property {
        .property-header {
            h5 {
                font-size: 1.45rem!important;
                line-height: 1.1!important;
                letter-spacing: -.4px;
                }
        }
        .property-content {
            .features {
                .feature { 
                    span {
                        font-size: .9rem!important;
                        line-height: 19px!important;
                        letter-spacing: 0;
                    }

                }
            }
        }

    }
    .epl-single-default .property-image, 
    .post-grid .property-image, 
    .property-grid-item .property-image {
        height: 190px;
    }
    #myTabContent {
        .btn {
            width: 100%;
        }
    }
    .subheader {
        // text-align: center;
        font-size: .8rem;
    }

    .nav-pills .nav-link {
        font-size: 12px;
        padding: 0px 10px;
    }
    .pt-120 {
        padding-top: 40px;
    }
    .pb-120 {
        padding-bottom: 40px;
    }
    .pb-90 {
        padding-bottom: 30px;
    }
    .mb-90 {
        margin-bottom: 30px;
    }
    .mt-90 {
        margin-top: 30px;
    }
    .mt-120 {
        margin-top: 40px;
    }
    .display-1 {
        font-size: 2.75rem;
        line-height: 1;
        letter-spacing: -0.4px;
    }
    .display-2 {
        font-size: 2.45rem;
        line-height: 1;
        letter-spacing: -0.4px;
        
    }
    .subheading-1 {
        font-size: 1.1rem;
        line-height: 24px;
    }
    .btn {
        margin-bottom: 10px;
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
    }
    .h2, h2 {
        font-size: 1.3rem;
    }
    .polaroid-images {
        margin-top: 60px;
        img {
            max-width: 70%;
            margin-left: 15%;
        }
    }
    .footer-widget {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 996px) {
    .navbar-light .navbar-nav .nav-link {
        color: #36454f;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 38px;
        margin: 0 0px;
        position: relative;
    }
    .btn .btn-primary.header-contact.btn-sm {
        font-size: 12px;
    }
}

// stop blue outline showing on mobile focused content
:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.dropdown-item:hover:active {
    color: white;
}

.dropdown-item.active:hover {
    color: white;
}

.dropdown-menu {
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #rolesTab .dropdown-menu.show {
        transform: translate3d(145px, 35px, 0px)!important;
    will-change: transform;
    }
}

// landing page blog card style
.blog-card {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.blog-card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.blog-card-img {
    width: 100%;
    min-height: 18vw;
    object-fit: cover;
}