// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary:  					    #ff7538; // Thats a sample how you could change a BootStrap variable.
$primary-900: 				  #cc622d;
$primary-500: 				  #ff986b;
$primary-300: 				  #ffcdb8;
$primary-50:  				  #ffdfd1;

$neutral:  					    #f8faf5;
$gray-100: 					    #f8faf5;
$gray-200: 					    #f3f3ef;
$gray-300: 					    #e0e1dd;
$gray-400: 					    #bebfbc;
$gray-500: 					    #9daab2;
$gray-600: 					    #798e9c;
$gray-700: 					    #597282;
$gray-800: 					    #36454f;
$gray-900: 					    #0f172a;

$success-50:  				  #ecfdf5;
$success-300: 				  #6ee7b7;
$success-500: 				  #10b981;
$success-700: 				  #047857;
$success-900: 				  #064e3b;

$warning-50:  				  #fffbeb;
$warning-300: 				  #fcd34d;
$warning-500: 				  #f59e0b;
$warning-700: 				  #b45309;
$warning-900: 				  #78350f;

$error-50: 					    #fef2f2;
$error-300: 				    #fca5a5;
$error-500: 				    #ef4444;
$error-700: 				    #b91c1c;
$error-900: 				    #7f1d1d;

$success: 					    #10b981;
$success-hover: 			  #6ee7b7;
$success-focus: 			  #047857;

$warning: 					    #FCD34D;
$warning-hover: 			  #fcd34d;
$warning-focus: 			  #b45309;

$error: 					      #ef4444;
$error-hover: 				  #fca5a5;
$error-focus: 				  #b91c1c;

$blue:    					    #0b81fe !default;
$indigo:  					    #6a1ce7 !default;
$purple:  					    #764ec0 !default;
$pink:    					    #e94893 !default;
$red:     					    #ef4444 !default;
$orange:  					    #ff7538 !default;
$yellow:  					    #fcc51f !default;
$green:   					    #10b981 !default;
$teal:    					    #26c494 !default;
$cyan:    					    #209fb3 !default;

$font-family-sans-serif: 	'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$body-bg: 					    #fff;
$body-color:              $gray-800 !default;

$grid-gutter-width: 		  20px !default;

$display1-size:				    4.5rem !default;
$display2-size:				    3.75rem !default;

$display1-weight:			    400 !default;
$display2-weight:			    400 !default;

$font-size-base:          1rem !default; 
$h1-font-size:            $font-size-base * 3 !default;
$h2-font-size:            $font-size-base * 2.13 !default;
$h3-font-size:            $font-size-base * 1.5 !default;
$h4-font-size:            $font-size-base * 1.25 !default;
$h5-font-size:            $font-size-base !default;
$h6-font-size:            $font-size-base !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1360px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 996px,
  lg: 1140px,
  xl: 1300px
) !default;

$line-height-base:         1.8 !default;

@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)){
  .row > .col,
  .row > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}