.display-1, .display-2 {
    font-family: 'Source Serif Pro', serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    letter-spacing: -2.4px;
    span {
        color: $primary;
    }
    &.small {
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0px;
    }
    &.italic {
        font-style: italic;
    }
}

.gm-style {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.subheading-1 {
    font-size: $font-size-base * 1.25;
    line-height: 28px;
}
.gm-style .gm-style-iw-d {
    .caption {
        display: none;
    }
    h5 {
        font-size: 22px;
    }
    max-height: 100%!important;
}

p {
    font-size: $font-size-base;
}

h1, h2, h3, h4, h5 {
    -webkit-font-smoothing: antialiased;
    span {
        color: $primary;
    }
}

a:hover {
    color: $primary;
}

.p-1 {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    
} 

.paragraph-2 {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.p-3 {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
}

.caption {
    font-size: 12px;
    line-height: 21px;
}

.caption-semi-bold {
    color: $gray-500;
    time {
        color: $gray-500;
    }
    @extend .caption;
    font-weight: 500;
    color: $gray-500;
}

.byline {
    color: $gray-500;
    a {
        color: $gray-500;
    }
}

form {
    label {
        @extend .caption-semi-bold;
        color: $gray-800;
    }
}

.gform_description {
    @extend .caption-semi-bold;
    color: $gray-800;
    display: block;
}

.btn-primary {
    color: #fff;
}

.btn {
    padding: 6px 20px;
    line-height: 34px;
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: $gray-800;
    }
}

.btn-sm {
    line-height: 24px;
    padding: 6px 15px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-120 {
    padding-bottom: 120px;
}

a {
    h1,h2,h3,h4,h5,h6,p,span {
        color: $gray-800;
    }
}

.home, 
.page-id-22,
.page-id-14,
.page-id-16,
.page-id-72,
.post-type-archive,
.archive.author,
.page-id-4170,
.page-id-3726,
.page-id-82
{
    background-color: 	$neutral;
}

.polaroid-property {
    overflow: hidden;
    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .05);
    transition: all .15s ease-in-out;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.btn-outline-primary:hover, .hs-button:hover {
    color: #fff;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-120 {
    margin-bottom: 120px;
}

body {
    .gform_wrapper {

        .gform_body {

            .gfield_label {
                @extend .label;
            }
            input[type="text"], input[type="email"], input[type="tel"], select, textarea {
                @extend .form-control;
            }
        }
        
        .label {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #798e9c;
        }
    }

}

.rec_hidden_field {
    display: none!important;
}

input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
}

.entry-content ul {
    list-style: none; /* Remove default bullets */
  }
  
.entry-content ul li::before {
    content: "\2022";
    color: $primary;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 26px;
    line-height: 24px;
}

.btn, a {
    -webkit-appearance: none;
}

.gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .gallery-item {
        img {
            max-width: 100%;
            padding: 10px;
        }
    }

}

.form-control, .widget_archive select, .widget_categories select, body .gform_wrapper .gform_body input[type=email], body .gform_wrapper .gform_body input[type=tel], body .gform_wrapper .gform_body input[type=text], body .gform_wrapper .gform_body select, body .gform_wrapper .gform_body textarea, input.hs-input[type=email] {
    height: calc(2.2em + 3px);
}

.seo-heading, .position {
    @extend p;
}

[tabindex="-1"]:focus, [tabindex="-1"]:focus-visible {
    outline: 0 !important;
  }

  .embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}