#epl-sort-listings {
    @extend .custom-select;
}

.epl-tool-switch {
    display: none!important;
}
.status-sticker {
    @extend .status-sold;
    @extend .status-leased;
    text-transform: capitalize;
    // position: absolute;
    // border-radius: 3px;
    // padding: 0 10px;
    // top: 10px;
    // color: $white;
    // font-size: 12px;
    // opacity: .8;
    // background-color: $primary;
    // left: 10px;
    // &.new {
    //     right: 10px;
    //     background-color: $gray-800;
    // }
    // &.open {
    //     left: 10px;
    //     background-color: $gray-800;
    // }
    // &.sold {
    //     left: 10px;
    //     color: $white;
    //     background-color: $primary;
    //     font-weight: 500;
    // }
}

.archive {
    #form-container {
        margin-top: 60px;
        box-shadow: 6px 7px 15px rgba(0,0,0,0.05);
    }
}

.epl-loop-tools-wrap {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;
}

.archive .jumbotron {
    &::after {
        background-color: rgba(0,0,0,0);
    }
    padding-top: 75px;
    padding-bottom: 75px;
}

.archive {
    .page-header {
        p {
            @extend .subheading-1;
            @extend .text-light;
        }
    }
}

.nextpostslink {
    @extend .next!optional;
    @extend .page-link;
}

.previouspostslink {
    @extend .prev!optional;
    @extend .page-link;
}

.epl-pagination {
    @extend .mb-5;
    @extend .mt-4;
    @extend .pagination;
    .pages {
        display: none;
    }
    a:last-of-type {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    a:first-of-type {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .page {
        @extend .page-link;
    }
    .current {
        @extend .page-link;
        z-index: 3;
        color: $white!important;
        background-color: $primary!important;
        border-color: $primary!important;
    }
}