.author {
    #reviews {
        .splide__list {
            max-width: 100%;
        }
        .polaroid-property {
            height: auto;
        }
    }
    #agent-overview {
        img {
            border-radius: 5px;
        }
        padding-right: 42px;
    }
    #agent-button-group {
        .btn {
            margin-bottom: 10px;
        }
        display: flex;
        flex-direction: column;
    }
    #header-wrapper {
        #author-name-container {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 2;
            position: relative;
        }
        height: 500px;
        background-size: cover;
        background-position: center center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(15, 23, 42, .35);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

    }
}


// Meet the team page

#team-list {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    .position {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #597282;
    }
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }
    .single-team-member {
        max-width: 275px;
        margin-bottom: 20px;
        .author-contact-details {
            padding: 20px;
        }
    }
}

.page-numbers.current {
    z-index: 3;
    color: #fff!important;
    background-color: #ff7538!important;
    border-color: #ff7538!important;
    position: relative;
    display: block;
    padding: 8px 12px;
    line-height: 1.25;
}

.page-numbers {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #ff7538;
    background-color: #fff;
    border: 1px
    solid #e0e1dd;
}

.tab-pane {
    scroll-margin-top: 200px;
}