.blog:not(.paged), .category:not(.paged), .tag:not(.paged) {
    main#main {
        article {
            &:not(:first-of-type) {
                @extend .col-md-4;
                .inner-blog-container {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    h2 {
                        font-size: 24px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.33;
                        letter-spacing: -0.48px;
                        text-align: left;
                    }
                }
            }
            &:first-of-type {
                margin-bottom: 60px;
                .inner-blog-container {
                    h2 {
                        font-size: 34px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.18;
                        letter-spacing: -1.36px;
                        margin-bottom: 40px;
                        a {
                            position:relative;
                            &::after {
                                content: '';
                                width: 50%;
                                height: 7px;
                                background-color: $primary;
                                position: absolute;
                                bottom: -15px;
                                left: 0;
                            }
                        }
                    }
    
                    @extend .container;
                    width: 100%!important;
                    display: flex;
                    padding-right: 0px;
                    .blog-content {
                        @extend .col-md-4;

                    }
                    .blog-image {
                        @extend .col-md-8;
                        padding-right: 0px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            // max-height: 450px;
                        }
                    }
                }
                
            }
            .blog-content {
                padding: 20px;
                .entry-content {
                    p {
                        @extend .paragraph-2;
                    }
                }
            }
            .blog-image {
                img {
                    height: 250px;
                    object-fit: cover;
                    object-position: center top;
                }
             }
        }
    }
}

.blog.paged, .category.paged, .tag.paged {
    main#main {
        article {
                @extend .col-md-4;
                .inner-blog-container {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    h2 {
                        font-size: 24px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.33;
                        letter-spacing: -0.48px;
                        text-align: left;
                    }
                }
            .blog-content {
                padding: 20px;
                .entry-content {
                    p {
                        @extend .paragraph-2;
                    }
                }
            }
            .blog-image {
                img {
                    height: 250px;
                    object-fit: cover;
                    object-position: center top;
                }
             }
        }
    }
}

.blog, .category, .tag {
    main {
        &#main {
            article {
                margin-bottom: 20px;
            }
        }
    }
}

.hs-form-container {
    label {
        color: $white;
    }
}

.search {
        #search-wrapper {
            .page-content {
                max-width: 700px;
            }
            padding: 60px 0px;
            .entry-footer span {
                padding-right: 10px;
                font-size: 13px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
            }
            h1 {
                margin-bottom: 40px;
            }
            h2 {
                font-size: 1.8rem;
            }
            padding-top: 60px;
        }
    article {
        max-width: 700px;
        margin-bottom: 40px;
        padding: 20px;
        border: 1px solid #f3f3f3;
        border-radius: 4px;
        height: 100%;
        background-color: $gray-200;
        
    }
    .col-md-4 {
        margin-bottom: 20px;
    }
}