.contact-info {
    text-transform: capitalize;
    .email {
        text-transform: lowercase;
    }
    p {
        display: flex;
        margin-bottom: 0px;
    }
    a {
        margin-left: 5px;
    }
}

.contact-buttons {
    display: flex;
    justify-content: flex-start;
}

.office-address {
    border-bottom: 1px solid $gray-300;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.property-grid-item {
    .polaroid-property {
        .property-content {
            min-height: calc(100% - 297px);
            padding: 0px 15px 15px 15px;
            // height: 100%;
        }
    }
}

.btn-toolbar {
    justify-content: center;
}

.single-office {
    .contact-info {
        .spanner {
            .full-address {
                line-height: 23px;
                width: calc(100% - 110px);
            }
            display: flex;
            .caption {
                width: 110px;
                display: inline-block;
            }
        }
        > div {
            margin: 5px 0px;
            > span {
                width: 110px;
                display: inline-block;
            }
        }
        a {
            margin-left: 0px;
        }

    }
    #breadcrumbs {
        display: flex;
        justify-content: center;
    }
}

.inner-wrapper {
    background-color: $gray-100;
}

.staff-search-results {
    position: absolute;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    top: 45px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    .single-author-search-result {
        .author-info {
            padding: 15px;
        }
        display: flex;
        padding: 0;
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: #fff;
        margin-right: 20px;
        border: 1px solid #bebfbc63;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px 0px 0px 5px;
            overflow: hidden;
        }
        .display-name {
            display: block;
            color: $gray-800;
            @extend h4;
        }
        .search-position {
            font-size: 14px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #597282;
        }
    }

}