.polaroid {
    border: 10px solid white;
    box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.08);
}

.col-md-4 {
    .polaroid:nth-last-of-type(2) {
        transform: rotate(
            10deg
        );
    }
    .polaroid:nth-last-of-type(1) {
        transform: rotate(
            -10deg
        );
        margin-top: -200px;
    }
}

#footer-cta {
    position: relative;
    .container {
        position: relative;
    }
    &::after {
        z-index: 1;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; 
        height: 300px;
        background: rgb(248,250,245);
        background: linear-gradient( -5deg ,#fff 0,#fff 46%,#f8faf5 46%);
    }
}

#footer-cta-2 {
    background: $white;
    .btn-toolbar {
        justify-content: center;
    }
}