#property-gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    overflow: hidden;
    max-height: 700px;
    position: relative;
    #img-3 {
        img {
            padding-bottom: 0px;
        }
    }
    .hero-image {
        width: 100%;
        margin-right: 4px;
        #img-0 {
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 700px;
        }
    }
    .thumbnails {
        width: 25%;
        display: flex;
        flex-direction: column;
        img {
            padding-bottom: 2px;
            max-height: 240px;
            width: 100%;
            object-fit: cover;
        }
        #img-3 {
            position: relative;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(59,69,79,.6);
                width: 100%;
                height: 100%;
                padding: 10px;
                content: 'View more photos';
                color: $white;
                pointer-events: none;
                display:flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
    }
}

.lightbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    pointer-events: none;
    .container {
        pointer-events: all;
    }
}

.thumbnails > div {
    height: 33.3333%;
    padding-bottom: 2px;
    max-height: 240px;
    width: 100%;
    a {
        display: block;
        height: 100%;
        img {
            height: 100%;
        }
    }
}

.floor-plan-2 {
    display: none;
}

.hidden-image {
    height: 0px!important;
    padding: 0px!important;
    width: 0px!important;
    display: none!important;
}

#property-gallery {
    .single-video {
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(59,69,79,.6);
            width: 100%;
            height: 100%;
            padding: 10px;
            content: '\f16a';
            color: #fff;
            pointer-events: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 60px;
            opacity: .6;
            height: calc(100% - 4px);
        }
    }
} 