.jumbotron{
    position: relative;
    padding-top: 30vh;
    padding-bottom: 30vh;
    #hero {
        position: relative;
        z-index: 2;
    }
    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
    }
}

#video-background { 
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    object-fit: cover;
    z-index: 1;
}

.review-card a {
    color: $gray-800;
}

.mt-90 {
    margin-top: 90px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-120 {
    margin-top: 120px;
}

.open-homes-hero, .rental-open-homes-hero, .landing-page-jumbotron {
    #hero, > div {
        z-index: 2; 
        position: relative;
    }
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        height: 100%;
        z-index: 1;
    }
}