.page-template-landing-page-v1 {
    .full-width-image {
        img {
            max-height: 450px;
            object-fit: cover;
            width: 100%;
        }
    }
    #footer-cta::after {
        display: none;
    }
}

.polaroid-container {
    img {
        @extend .polaroid-property;
    }
    
}

.form-container {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px 16px 0px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 35px rgba(0,0,0,0.2);
}

.landing-page-jumbotron {
    background-position: center center;
    background-size: cover;
}

.feature-container {
    .icon-image.oc-icon {
        width: 40px;
        margin-bottom: 13px;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -0.4px;
    }
    padding-right: 8.33333%;
    i {
        font-size: 30px;
        color: $primary;
        margin-bottom: 13px;
    }
}

.full_width_image_with_white_text::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    z-index: 1;
}
.full_width_image_with_white_text {
    position: relative;
    background-size: cover;
    background-position: center center;
}
/**
 * Menu styles needed to make JS work
 */
//  .dropdown:hover>.dropdown-menu {
//     display: block;
//     //For animation
//     max-height: 400px;
//     opacity: 1;
//   }
//   .dropdown>.dropdown-menu {
//     margin: 0;
//     // For animation
//     transition: all 0.3s;
//     max-height: 0;
//     display: block;
//     overflow: hidden;
//     opacity: 0;
//   }

.subsection {
    background-color: #f8faf5;
}