.nav-pills {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    a {
        color: $gray-500;
        &:hover {
            color: $primary;
        }
    }
    .nav-link {
        &.active {
            color: #ff7538;
            background-color: inherit;
            border-bottom: 2px solid #ff7538;
            border-radius: 0px;
        }
    }
}

#category-list {
    .nav-pills {
        .buying {
            order: 2;
        }
        .community {
            order: 5;
        }
        .industry {
            order: 6;
        }
        .investing {
            order: 4;
        }
        .latest-news {
            order: 7;
        }
        .renting {
            order: 3;
        }
        .selling {
            order: 1;
            .nav-link {
                margin-left: 0px;
                padding-left: 0px;
            }
        }
        justify-content: flex-start;
        margin: 20px 0px;
        .nav-link {
            color: $gray-800;
            margin: 0px 10px;
            font-size: 14px;
            font-weight: 600;
            &:hover {
                color: $primary;
                border-bottom: 2px solid $primary;
                border-radius: 0px;
            }
        }
    }
}

#search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}