.property-grid-item, .post-grid, .epl-single-default {
    &.gmap-property {
        .polaroid-property {
            &:hover {
                transform: scale(1, 1);
            }
        }

    }
    .status-sold, .status-leased {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Source Serif Pro',serif;
        letter-spacing: -0.4px;
        background-color: $gray-800;
        color: $white;
        position: absolute;
        padding: 25px 20px;
        text-transform: capitalize;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        /* This is position absolute because it is the sold/leased things! Duno why they disappeared;...*/
    }
    position: relative;
    .polaroid-property, .single-post {
        .post-content {
            height: 100%;
        }
        overflow: hidden;
        position: relative;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
        label {
            border-bottom: none;
        }
        .entry-meta {
            a {
                display: inline-block;
            }
            .tags-links {
                a {
                    background-color: #f3f3ef;
                    margin: 10px 10px 0 0;
                    padding: 0 5px;
                    color: #9daab2;
                    border-radius: 5px;
                }
            }
        }
        box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .05);
        transition: all 0.15s ease-in-out;
        height: 100%;
        background-color: $white;
        border-radius: 5px;
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.12);
            transition: opacity 0.15s ease-in-out;
          }
        
        &:hover {
            transform: scale(1.02, 1.02);
            &::after {
                opacity: 1;
              }
        }
        a {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            &:hover {
                text-decoration: none;
            }
        }
        .property-content, .post-content {
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .property-price {
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
            }
            .property-footer {
                justify-content: space-between;
                display: flex;
                align-items: flex-end;
                p {
                    line-height: 18px;
                    margin-bottom: 0px;
                }
            }
            padding: 0px 10px 10px 10px;
            h5 {
                @extend .display-1;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -1px;
                margin-bottom: 0px;
                span {
                    &.item-street {
                        @extend .display-1;
                        font-size: 30px;
                        line-height: 40px;
                        letter-spacing: -1px;
                        margin-bottom: 0px;
                        color: $gray-800;
                    }
                span.item-suburb, .item-state, .item-pcode {
                    margin: 10px 0 9.5px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: #36454f;
                }
                }
            }

        }
        .caption {
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-300;
            font-size: 14px;
            line-height: 1.43;
            time {
                border-bottom: none;
            }
        }
    }
    .property-image {
        width: 100%;
        height: 277px;
        object-fit: cover;
        margin-bottom: 10px;
        position: relative;
    }
    .features {
        display: flex;
        justify-content: center;
        .feature {
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 0px 10px;
            line-height: 18px;
            &:last-of-type::after {
                display: none;
            }
            &::after {
                content: '';
                width: 1px;
                background-color: $gray-600;
                height: 80%;
                position: absolute;
                right: -10px;
                top: 5px;
                transform: rotate( 10deg );
            }
            span {
                text-align: center;
            }
        }
    }
    .oc-exclusive-label {
        background-color: $primary;
        color: $gray-100;
        padding-left: 10px;
        margin-top: 0;
        font-weight: 500;
        z-index: 1;
        position: absolute;
        top: 249px;
        width: 100%;
    }
}

.post-grid .single-post span.caption-semi-bold,
.post-grid .single-post .entry-meta .tags-links a {
    border-bottom: none;
}

.gmap-property.property-grid-item {
    .property-header {
        .suburb, .property-price {

            font-size: 16px;
        }
        h5 {
            font-size: 22px;
        }
    }
    
    .property-image {
        width: 100%;
        height: 113px;
        margin-bottom: 5px;
        border-radius: 5px 5px 0px 0px;
    }
    &:hover {
        transform: scale(1)!important;
    }
}

#latest-news-container {
    .row {
        .col-md-4 {
            .single-post {
                height: auto;
            }
        }
    }
}

.label {
    font-size: 14px;
    line-height: 1.43;
}

.page-id-3690 {
    article {
        h3 {
            font-style: italic;
            position: relative;
            display: inline-block;
            margin-bottom: 30px;
            &::after {
                content: '';
                width: 50%;
                height: 4px;
                background-color: #ff7538;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }
    }
}

.gm-style .gm-style-iw-c {
    max-width: 270px!important;
    width: 270px!important;
    overflow: visible;
    padding: 0px;

}

.gm-style .gm-style-iw-d {
    padding: 0!important;
    overflow: visible!important;
    padding-right: 0px!important;
}