// .epl-search-form {
//     form {
//         padding: 20px;
//         max-width: 860px;
//         margin: 0 auto;
//     }
//     .in-field:not(.bootstrap-select) {
//         @extend .form-control;
//     }
// }

// .epl-search-btn {
//     @extend .btn;
//     @extend .btn-primary;
// }

// input[type="checkbox"].in-field {
//     @extend .custom-control-input;
// }

// .epl-search-row {
//     @extend .custom-control;
//     @extend .custom-checkbox;
//     @extend .custom-control-inline;
//     @extend .form-group;
//     .check-label {
//         @extend .custom-control-label;
//     }
// }

// .epl-search-forms-wrapper.epl-search-default {
//     max-width: 100%;
//     padding: 20px;
// }

// .epl-search-form .in-field.field-multiple, .epl-search-form .bootstrap-select {
//     border: none;
//     padding: 0px;
//     border: 1px solid #bebfbc;
//     border-radius: .25rem;
//     .filter-option {
//         background: $white;
//     }
// }

// .bootstrap-select {
//     background-color: $white;
// }

// .btn-light:not(:disabled):not(.disabled).active, 
// .btn-light:not(:disabled):not(.disabled):active, 
// .show>.btn-light.dropdown-toggle {
//     border-color: $white;
// }

// .dropdown-toggle::after {
//     display: inline-block;
//     margin-left: .255em;
//     vertical-align: .255em;
//     content: "";
//     border-top: .3em solid;
//     border-right: .3em solid transparent;
//     border-bottom: 0;
//     border-left: .3em solid transparent;
//     position: absolute;
//     top: 22px;
//     right: 13px;
// }

// .epl-search-form {
//     form {
//         display: flex;
//         flex-wrap: wrap;
//         .epl-search-row {
//             width: 100%;
//             &.epl-property_address {
//                 max-width: 66.666%;
//                 margin-right: 0px;
//             }
//             &.epl-property_category {
//                 max-width: 33.3333%;
//                 margin-right: 0px;
//             }
//             &.epl-property_price_from, 
//             &.epl-property_price_to,
//             &.epl-property_bedrooms_min,
//             &.epl-property_bedrooms_max,
//             &.epl-property_bathrooms,
//             &.epl-property_carport {
//                 max-width: 33.3333%;
//                 margin-right: 0px;
//             }
//             &.epl-search-other {
//                 display: flex;
//                 justify-content: flex-start;
//                 flex-wrap: wrap;
//                 .epl-search-row {
//                     width: auto;
//                 }
//             }
//         }
//     }
// }

// .epl-search-form .in-field {
//     border: none;
//     padding: 0px;
//     line-height: inherit;
//     min-height: 2.1em;
//     text-transform: inherit;
//     border-radius: .25rem;
// }

// .bootstrap-select > .dropdown-toggle.bs-placeholder, 
// .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, 
// .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, 
// .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
//     background: $white;
// }

// .dropdown-menu.show, .inner.show {
//     max-height: 250px!important;

// }

// .epl-property_category {
//     z-index: 15;
// }
// .epl-property_price_from {
//     z-index: 10;
// }

// .epl-property_price_to {
//     z-index: 9;
// }

// .epl-property_bedrooms_min {
//     z-index: 8;
// }
// .epl-property_bedrooms_max {
//     z-index: 8;
// }

// .epl-property_carport {
//     z-index: 4;
// }

// .epl-property_bathrooms {
//     z-index: 4;
// }

// .epl-search-other {
//     z-index: 2;
// }

#form-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 35px rgba(0,0,0,0.05);
    margin-bottom: 40px;
    margin-top: -105px;
    #search-filters {
        margin-right: 20px;
        // margin-bottom: 16px;
    }
    #property-search-form {
        width: 100%;
        #address_search {
            width: 100%;
            max-width: calc(100% - 265px);
            margin-right: 20px;
            position: relative;
            input {
                width: 100%;
            }
        }
    }
}



.autocomplete {
	position: relative;
	display: inline-block;
}

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: $primary !important;
    color: #ffffff;
}

// Bootstrap Select Modifications
#property-search-form {
	.btn-group, .btn-group-vertical {
		display: flex;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 100%;
		padding: 0px;	
		.dropdown-toggle::after {
			display: none;
		}
	}
	.btn-outline-primary:not(:disabled):not(.disabled).active, 
	.btn-outline-primary:not(:disabled):not(.disabled):active {
		background-color:rgba(255,117,56, 0.25);
	}


}

.property-search-hero {
    background-size: cover; 
    padding-top: 170px; 
    padding-bottom: 140px;
}