#services-masonry {
    margin-bottom: 20px;
    .col-md-3, .col-md-6, .col-md-7, .col-md-4, .col-md-8 {
        margin-bottom: 20px;
    }
    .masonry-item {
        &:hover {
            &::after {
                background-color: rgba(255, 117, 56, .5);
            }
        }
        .masonry-content {
            position: relative; z-index: 2;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,0.3);
            width: 100%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
            transition: all 0.25s ease;
        }
        transition: all 0.25s ease;
        overflow: hidden;
        align-items: center;
        padding: 104px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        &.one {
            background-image: url(../media/buy.jpg);
        }
        &.two {
            background-image: url(../media/rent.jpg);
        }
        &.three {
            background-image: url(../media/sell.jpg);
        }
        &.four {
            background-image: url(../media/manage.jpg);
        }
        &.five {
            background-image: url(../media/projects.jpg);
        }
    }
}