.single-property, .single-rental {
    #property-map {
        .item-street, .entry-title-sub {
            @extend h4;
            span {
                color: #36454f;
            }
            
        }
    }
    .property-meta.date-available {
        padding: 32px 0px 0px;
        border-top: 1px solid #ccc;
        // border-bottom: 1px solid #ccc;
        margin: 10px 0px 10px;
        text-align: left;
        font-weight: 500;
        margin-top: 32px;
    }
    
    .home-open-wrapper {
        li {
            list-style-type: none;
        }
    }
    .epl-inspection-times-label, .tab-title {
        @extend h4;
        border-bottom: 0;
        display: block;
        margin-bottom: 10px;
    }
    .tab-title, .epl-inspection-times {
        padding-top: 32px;
        border-top: 1px solid #ccc;
        margin-top: 32px;
    }
    .property-alerts, .epl-button-wrapper {
        padding-top: 32px;
        border-top: 1px solid #cccccc;
        margin-top: 32px;
        margin-bottom: 31px;
    }
    .tab-content ul, .tab-content ol {
        padding-left: 0px;
    }
    
    ul.epl-property-features  {
        padding-left: 40px;
        li {
            &::before {
                content: "\2022";
                color: #ff7538;
                font-weight: 700;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-size: 26px;
                line-height: 24px;
            }
        }
    }
    li {
        list-style-type: none;
    }
    
    .home-open-wrapper {
        padding: 0px;
    }
    .epl_inspection_calendar, .epl-button {
        @extend .btn;
        @extend .btn-light;
        @extend .btn-sm;
        text-align: left;
        margin-bottom: 10px;
        font-size: 12px;
        width: 100%;
    }
    p {
        line-height: 1.4;
    }
    #secondary-title {
        margin-bottom: 60px;
        position: relative;
        &::after {
            content: '';
            width: 50%;
            height: 7px;
            background-color: $primary;
            position: absolute;
            bottom: -15px;
            left: 0;
        }
    }
    .page-price, .rent-period {
        font-size: 14px;
        margin-bottom: 10px;
        display: inline-block;
    }
    background-color: $white;
    #single-property-content {
        #property-header {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #exclusive-label {
            display: flex;
            justify-content: center;
            margin-top: -18px;
            .oc-exclusive-label {
                position: relative;
                top: 0px;
                width: auto;
                font-size: 20px;
                border-radius: 5px;
                box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
            }
        }
        .oc-exclusive-label {
            margin: 0 auto;
            padding: 0px 30px;
        }
        .entry-title.display-2, .entry-title.display-1 {
            display: flex;
            flex-direction: column;
            span {
                color: $gray-800;
            }
            .entry-title-sub {
                letter-spacing: 0px;
                @extend .subheading-1;
                font-family: Montserrat;
            }
            
        }
    }
}

.property-header {
    .suburb {
        color: $primary;
        font-weight: 500;
        margin-top: -5px;
    }
}

.single-team-member-meta {
    display: inline-block;
    .agent-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center top;
    }
    .polaroid-property {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
    }
    .entry-header {
        min-width: 320px;
        padding: 20px 40px 20px 20px;
    }
}

#page-featured-image img {
    border-radius: 5px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.single-property, .single-rental {
    span{
        &.page-price {
            &.sold-status {
                @extend .display-2;
                @extend .italic;
                font-size: 36px;
                color: #fff;
                padding: 5px;
                background-color: #364450;
                width: 100%;
                margin-top: 10px;
                text-align: center;
            }
        }
    }

} 



.mobile-footer-buttons {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 10px 20px;
    background-color: $white;
    z-index: 99;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.1);
    .btn-group {
        width: 100%;
    }
}

.single-property, .single-rental {
    h4.authority {
        text-transform: capitalize;
    }
    .property-header-wrapper {
        background-color: #f8faf5; 
        margin-bottom: 30px;
    }
}

.single-property {
    .rates {
        ul {
            li {
                strong {
                    display: inline-block;
                    width: 100%;
                    font-weight: 500;
                }
                span {
                    margin-bottom: 5px;
                    display: inline-block;
                }
            }
        }
    }
}