.post-hero {
    max-height: 600px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 30px;
}

#breadcrumbs {
    padding-left: 0px!important;
    color: $gray-500;
    @extend .p-3;
    font-weight: 400;
    span {
        span {
            a, span {
                margin: 0px 10px;
                &::first-child {
                    margin-left: 0px;
                }
            }

        }
    }
}

.tags-links {
    display: flex;
    flex-wrap: wrap;
    a {
        @extend .caption-semi-bold;
        background-color: $gray-200;
        margin: 10px 10px 0px 0px;
        padding: 0px 5px;
        color: $gray-500;
        border-radius: 5px;
        &:hover {
            box-shadow: 1px 1px 10px rgba(0,0,0,0.05);
            text-decoration: none;
            color: $primary;
        }
    }
}

body.single-post {
    background-color: $white;
}
.single-post {
    .entry-content {
        img {
            margin-top: 30px;
        }
        h1, h2, h3, h4, h5 {
            margin-top: 30px;
        }
        margin-top: 30px;
        p {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
        }
    }
    .entry-title {
        position: relative;
        z-index: 2;
        margin-bottom: 40px;
        &::after {
            position: absolute;
            width: 50%;
            content: '';
            left: 0;
            bottom: -20px;
            height: 10px;
            background-color: $primary;
            z-index: -1;
        }
    }
}

#email-updates-box {
    background-color: $gray-100;
    padding: 20px;
    margin-bottom: 30px;
}

input[type="email"].hs-input {
    @extend .form-control;
}

.hs-button {
    @extend .btn;
    @extend .btn-outline-primary;
    @extend .btn-sm;
    margin-top: 20px;
}

.widget {
    h3 {
        margin-top: 30px;
    }
}

.widget_recent_entries {
    ul {
        padding-left: 0px;
        li {
            list-style-type: none;
            line-height: 24px;
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $gray-300;
            a {
                color: $gray-800;
                cursor: pointer;
            }
        }
    }
}

.blog, .category, .tag {
    background-color: $gray-200;
    .jumbotron {
        padding-top: 75px;
        padding-bottom: 75px;
        &::after {
            background-color: rgba(0,0,0,0);
        }
    }
}

.white-wrapper {
    background-color: $white;
    min-height: 90px;
    margin-bottom: 20px;
}