.gform_button_select_files {
    @extend .btn;
    @extend .btn-outline-primary;
    border: 1px dashed #ccc;
}

.single-position {
    .entry-title {
        @extend .display-2;
        font-style: italic;
    }
    #header-wrapper {
        height: 40vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}